*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
    
}

.header{
    background: #9933CC;
    padding: 30px;
    color: white;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.menu ul{
    list-style: none;
    margin: 0%;
    padding: 0%;

}

.menu ul li{
    background: #33B5E5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 8px;
    color: white;
    padding: 4px;
    font-size: 0.5cm;
    text-align: center;
    overflow: hidden;
}

.menu ul li:hover{
    transform: scale(1.5);
    
}
.col-6 p{
    text-align: justify;
    width: auto;
}
.aside{
    background: #33B5E5;
    padding: 10px;
    width: auto;
   
}

.right{
    width: auto;
   float: right;
   text-align: center;
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 20%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .footer{
       
        width: 100%;
        bottom: 0;
        background: #33B5E5;
        text-align: center;
        padding: 20px 0;
    }
        
    .right{
       justify-content: center;
       align-items: center;
    }
}    